
.App {
  margin-top: 0;
  background-color: blanchedalmond;
  height: 113vh;
  display: block;
  padding: 10px;
  text-decoration: none;
  
}
.logo{
  margin-left: 90%;
  margin-top: 2%;
  
}
.s-bar{
  height: 5vh;
  margin-left: 26%;
  margin-top: 3%;
}
a:link {
  text-decoration: none;
  color :black
}







